.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
}

.card {
  max-height: 100vh;
}

.cardTitle {
  margin: 1.5rem;
}

.setupStepButtons {
  display: flex;
  justify-content: space-evenly;
}

.setupNext, .setupPrevious {
  height: 4rem;
  margin: 6rem 0 0 0;
  width: 30%;
}

@media only screen and (max-width: 600px) {

  .cardTitle {
    font-size: 10vw
  }

}