.setupHint {
  margin: 0 0 1rem 0;
}

.setupPlayersTable {
  width: 50vw;
}

.setupPlayersTableActions {
  float: right;
}

.setupPlayersButtonContainer {
  margin: 1rem 0 0 0;
}

.setupPlayersButton {
  width: 20% !important;
}

@media only screen and (max-width: 600px) {

  .setupHint > * {
    font-size: 7vw;
  }

  .setupPlayersTable {
    width: 80vw;
  }

}